fastapi
uvicorn
langchain
langchain_community
langchain_chroma
python-multipart
langchainhub
langchain-core
chromadb
httpx
pydantic
tqdm
sentence-transformers
openrouter
openai
pypdf
streamlit
requests
rapidfuzz
dotenv
PyPDF2
langchain_huggingface
pyodbc
bs4
guardrails-ai 
groq